.show-delete {
    color: var(--bg-color);
    font-size: min(12px,4vw);
    font-weight: 600;
    width: 250px;
    right: 0;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
}

.videos-item>div:first-of-type{
    background-color: var(--bg-color);
    /* box-shadow: 0 0 1px white; */
    border: 0.1px solid gray;
    /* max-width: 370px; */
    /* height: 400px !important; */
    /* min-height: 675px ; */
    overflow: hidden;
}
.videos-list .video-container{
    max-width: 100% ;
    /* max-height: 200px; */
    overflow: hidden !important;
}
.videos-list .video-container:hover video{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.statistic-table{
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    margin-top: 0.5em;
    width: 100%;
}

.statistic-table tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.08)  !important;

}

.statistic-table tr>td{
    padding: 0.3em !important;
    font-size: min(12px,4vw);
    border-left: 2px solid rgba(255, 255, 255, 0.08) !important;
    background-color: transparent !important;
    color: white;
}

.statistic-table tr>td:first-of-type{
font-weight: 500 !important;
    letter-spacing: 0.4px;
    /* color: var(--green); */
}

.see-more-stat-btn{
    position: relative;
    animation: bounceMore 1s linear infinite alternate;
}
@keyframes bounceMore {
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.see-less-stat-btn{
    position: relative;
    animation: bounceLess 1s linear infinite alternate;
}
@keyframes bounceLess {
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0px);
    }
}

.apexcharts-legend-text {
    color: white !important;
}
.apexcharts-menu{
    color: var(--bg-color);
}
@media(width<=800px){
    .statistics{
        grid-template-columns: 1fr;
    }
}