.testimonials{
    width: 100%;
}

.left-side-t{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 10vw 0rem 10vw !important;
    /* background-color: blue; */
}

.left-side-t>div:first-child{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: clamp(26px,32px,40px);
    font-weight: bolder;
    letter-spacing: 3px;
}

.left-side-t>span:nth-of-type(1){
    font-size: clamp(12px,16px,16px);
    color: rgba(255,255,255,0.7);
    text-align: justify;
    line-height: 35px;
}

.left-side-t>span:nth-of-type(2){
    font-size: clamp(12px,14px,16px);
    font-weight:bold;
    color: var(--green);
}

.arrows-t{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    /* background-color: red; */
}

.arrows-t>div:nth-of-type(1){
    width: 248px;
    height: 1px;
    background-color: rgba(163,163,163,0.5);
     
}

.arrows-t>div:nth-of-type(2){
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.arrows-t>div>button{
    background-color: transparent;
    padding: 0%;
}

.right-side-t{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.rectangles-container-t{
    position: relative;
    height: 400px;
    width: 300px;
}

.rectangles-container-t>img{
    position: absolute;
    width: 230px;
    height: 300px;
    object-fit: cover;
    top: 50px;
    right: 8px;
    /* z-index: 3; */
    
}

.rectangles-container-t>div:nth-of-type(1){
    position: absolute;
    width: 230px;
    height: 300px;
    background-color: var(--green);
    top: 70px;
    left: 40px;
    /* z-index: 2; */
}

.rectangles-container-t>div:nth-of-type(2){
    position: absolute;
    width: 230px;
    height: 300px;
    background-color: transparent;
    border: 1px solid var(--green);
    top: 30px;
    left: 10px;
}

.rectangles-container-t>div:nth-of-type(3){
    position: absolute;
    width: 210px;
    height: 2px;
    background-color: var(--green);
    top: 20px;
    left: 20px;
}

.ready-t{
    width: 100%;
    padding: 5rem 10vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:1rem ;
}

.ready-t>button{
    width: 8rem;
    border-radius: 24px !important;
    gap:0.6rem;
    font-family: var(--ff-one) !important;
    background:var(--linear-color2);
    border: none ;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.ready-t>button:hover{
    gap: 1rem;
    opacity: 1;
}

@media(width>= 650px){
    .ready-t{
        flex-direction: row;
        justify-content: start;
    }
}