.home{
    position: relative;
    min-height: 100vh;
    /* height: fit-content; */
    width: 100%;
    overflow: hidden;
}
.bg_video{
    position: absolute;
     top: -20%; /* pour cacher le logo ds le video */
    left: 0;
    width: 100%;
    height: 120%;
    overflow: hidden;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all-content{
    /* position: relative; */
    height: 100%;
    width: 100%;
    /* background-color: rgb(125, 177, 223); */
}

.content{
        position: absolute;
        margin-top: min(10vh,100px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        font-family: var(--ff-one);
}

.content>h1{
    font-size: min(60px,14vw);
    white-space: nowrap;
    padding: 1rem;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 2px;
}

.content>p{
    padding: 10px 20px;
    font-size: min(16px,6vw);
    width: fit-content;
    max-width: 55rem; 
    text-shadow: 1px 1px 10px hsl(0, 0%, 64%);
}

.buttons-h>button{
    width: min(220px,65vw);
    height: fit-content;
    /* font-size: medium; */
    border: 1px solid rgba(255, 255, 255, 0);
    /* padding: 10px; */
    gap:0.3em;
    transition:all 0.3s ease-in-out;
}
.buttons-h>button:hover{
    gap: 20px;
    border-color: rgba(255, 255, 255, 0.3);
}
.buttons-h>button>span{
    font-size: min(16px,6vw);
    white-space: nowrap;
}
.buttons-h>button:nth-of-type(1){
    margin-bottom: 2rem;
    background: linear-gradient(135deg,#CED9D1,var(--green));
}
.buttons-h>button:nth-of-type(1):hover{
    background: linear-gradient(135deg,#ffffff,var(--green));
    
 }   

.buttons-h>button:nth-of-type(2){
    background: linear-gradient(135deg,#000000,var(--green));
    border-color: rgba(255, 255, 255, 0.2);
}
.buttons-h>button:nth-of-type(2):hover{
    background: linear-gradient(135deg,rgb(0, 0, 0,0.2),var(--green));
 }   

.buttons-h>button>img{
    width: 28px;
    height: 28px;
}
@media (width>=768px) {
    .content{
        margin-top: 30vh;
    }
    .buttons-h{
        gap: 2rem;
        padding: 2rem;
        display: flex;
        justify-content: center;  
    }
    
}