.plans , .plans>div:first-of-type{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top:2rem ;
    text-align: center;
    color: white;
}

.plans>div:first-child{
    padding: 0 1rem;
    /* gap: 1rem;text-align: justify; à sx */
}
.plans>div:first-of-type>h1{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: var(--ff-two);
}

.plans>div:first-of-type>span{
    color: rgba(255,255,255,0.7);
    max-width: 850px;
}

.plans-card{
    justify-content: space-evenly;
    align-items: center;
    background: var(--radial-color);
    padding: 1rem!important;
    width: 100%;
}

.plans-card img{
    width: 26px;
    height: 26px;
    object-fit: cover;
}

.card{
    /* justify-content: space-evenly;  */
    align-items: center;
    gap:1.2rem;
    min-width: 18rem !important;
    max-width: 22rem !important;
    /* height: 530px !important; */
    padding: 1rem !important;
    overflow: hidden;
    border-radius: 25px !important;
    font-family: var( --ff-one);
    color: white !important;
    /* backdrop-filter: blur(40px); */
}

.card:nth-child(2){
    background-color: var(--color1);
    min-height: 550px !important;
}

.card:first-child{
    color: black !important;
    background-color: rgba(255,255,255,0.77);
}

.card:nth-child(3){
    background-color: #081421;
}

.first-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.first-p>img{
    width: 32px;
    height: 32px;
}

.first-p>span:first-of-type{
    font-weight: 700;
}

.first-p>span:nth-of-type(2){
    font-weight: 600;
    font-size: 3rem;
}

.title-p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding:4px 16px 4px 8px ;
}
.title-p>img{
    width: 32px;
    height: 32px;
}

.line-p{
    width: 180px;
    height: 1px;
    background-color: rgba(255,255,255,0.4);
}

.card:first-child>.first-p>span:first-of-type{
    color: black;
}

.card>div:nth-of-type(2){
    display: flex;
    background-color: rgba(0,0,0,0.1);
    width: fit-content;
    padding: 4px 16px 4px 8px;
    border-radius: 20px;
    gap: 0.5rem;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.card>div:nth-of-type(2)>img{
    width: 16px;
    height: 16px;
}

.card:nth-child(2)>div:nth-of-type(2){
    background-color: rgba(255,255,255,0.1);
}

.card:nth-child(3)>div:nth-of-type(2){
    background-color: #2F2F2F;
}

.five-lignes-p{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: start;
}

.five-lignes-p>div{
    display: flex;
    gap: 0.5rem;
}

.button-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.button-p>button{
    display: flex;
    gap: 1.5rem;
    width: 210px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.card:first-child>.button-p>button{
    background-color: black;
    margin-top: 1.4rem;
}

.card:nth-child(2)>.button-p>button {
    color: black;
    background: var(--linear-color) ;
    /* backdrop-filter: blur(30px);*/
}

.card:nth-child(3)>.button-p>button{
    color: black;
}

.card:nth-child(2)>.button-p{
    margin-top: 1rem !important;
}

@media (width <= 992px){
    .plans-card{
        flex-direction: column;
        gap: 4rem;
    }
    .card{
        width: 100% !important;
    }
}

@media(width>=1200px){
    .plans-card{
        justify-content: center;
        gap: 3rem !important;
    }
}
