.footer{
    color: white !important;
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(9, 12, 9, 0.1);
}
form{
    max-width: 100% !important;
    align-items: center;
}
.form-row{
    width: 100% !important;
    max-width: 700px;
    justify-content: center;
    margin-bottom: 2rem;
}

.form-btn{
    background-color: var(--green);
    font-weight: 600;
    font-size: 15px;
}

.colF>ul>li>a{
text-decoration: none;
color: rgba(255, 255, 255, 0.625) !important;
}

.colF>ul>li>a:hover{
    color: var(--green) !important;
}

.colF>h6{
    font-size: 13px;
}