.footer{
    max-width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(9, 12, 9, 0.1);
}

.form-f-row{
    width: 100% !important;
    max-width: 700px;
    margin-bottom: 2rem;
}

.form-f-btn{
    width: min(102px,26vw);
    font-size: min(16px,4.5vw) !important;
    margin-left: 0.5em;
}
.nav-list{
    white-space: nowrap !important;
}
.nav-list>a{
text-decoration: none;
color: rgba(255, 255, 255, 0.625) !important;
}

.nav-list>a:hover{
    color: var(--green) !important;
}

.colF>h6{
    font-size: 13px;
}