.search-video{
    width: min(80vw,350px);
  }
  
  .search-video>svg {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .search-video input{
    padding-left: 50px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  @media (width<576px){
  .avatar-container{
    width: 100% !important;
    padding: 0.5rem;
    margin-left: 1em;
  }
  }

.avatar{
  background: url(../../assets/images/user.jpg) no-repeat center;
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor:pointer; 
  overflow: hidden;
}
.avatar>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatar-menu{
  border-radius: 5px;
  top: 110% ;
  z-index: 10;
}

.avatar-menu>ul{
  font-size: 11px;
  list-style: none;
}

.avatar-menu>ul>li{
  border-bottom: 1px gray solid;
  padding: 0.6rem 0.5rem !important;
  cursor: pointer;
}

/* .avatar-menu>ul>li:hover{
  background-color: #388d03cc !important;
} */

.avatar-menu a{
  color: var(--bg-color) !important;
  font-weight: 500;
} 