@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Sorts+Mill+Goudy&display=swap');

:root{
    --green : #398D03;
    --bg-color : #102339;
    --color1: rgba(230, 255, 214, 0.11);
    --radial-color : radial-gradient(ellipse at center, #398D03 5% ,rgb(16, 35, 57) 55%);
    --linear-color : linear-gradient(135deg, #FFFFFF,var(--green));
    --ff-one : 'Manrope', sans-serif ;
    --ff-two : 'Sorts Mill Goudy', serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    background-color: var(--bg-color);
    overflow: hidden;
}

.font1{
    font-family:var(--ff-one);
    font-weight:20rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.stroke-text{
    color: transparent;
    font-family:var(--ff-two);
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-body) !important;
    color: white;
    padding: 0.5rem;
    border-radius: 24px 24px 0 24px !important;
    border: 1px solid transparent;
}